* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
}

header {
    position: sticky;
    top: 0;
    z-index: 1;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}

h1 {
    padding: 3rem 5rem;
    font-size: 3rem;
    color: #FFFFFF;
}

h2 {
    font-size: 2rem;
}

.nav-bar__container {
    display: flex;
    justify-content: space-between;
    padding: 1rem 5rem;
    background-color: #ffffff;
    position: sticky;
    top: 0;
}

.nav-bar__list > li {
    display: inline-block;
    padding: 0 .5rem;
}

#nav-bar__wordmark {
    color: #335576;
    font-weight: 600;
}

a, a:visited {
    text-decoration: none;
    color: initial;
}

.nav-bar__list a:active {
    position: relative;
}

.nav-bar__list > li > a:hover {
    border-bottom: 3px solid #db7a4e;
    padding-bottom: .4rem;
}

.nav-bar__list--active {
    border-bottom: 3px solid #db7a4e;
    padding-bottom: .4rem;
}

.footer__container {
    background-color: #fefaf5;
    display: flex;
    padding: 3rem 10rem;
    padding-bottom: 1.5rem;
    justify-content: space-between;
}

.footer-days__container {
    display: flex;
    justify-content: space-between;
}

.footer__title--color,.footer__text--format {
    color: #335576;
}

.footer__text--format {
    padding-top: .5rem; 
}

.footer__contact > a {
    display: inline-block;
}

.footer__subtitle--format {
    color: #db7a4e;
    font-size: .5rem;
    padding-top: 1.5rem;
}

.footer__icon {
    scale: .4;
}

.footer__hours {
    flex-grow: .3;
}

.footer__social > h3 {
    margin-bottom: 1rem;
}

@media only screen and (max-width: 768px) {
    .footer__container {
        flex-direction: column;
    }

    .footer__container > div {
        margin-top: 1rem;
    }
  }

@media only screen and (max-width: 320px) {
    .footer__container {
        flex-direction: column;
        align-items: center;
        padding: 3rem 2rem;
    }

    .footer__container > div {
        margin-top: 1rem;
    }

    .footer-days__container {
        flex-direction: column;
    }

    .hero__container {
        flex-direction: column;
    }

    .hero__container > div:last-child {
        margin-top: 3rem;
    }

    .nav-bar__container {
        flex-direction: column;
    }

    .nav-bar__list > li {
        display: block;
        padding: .5rem 0;
    }
  }