.hero__container {
    display: flex;
    background-color: #FEFAF5;
    padding: 5rem 0;
}

.hero__text {
    display: flex;
    flex-direction: column;
    padding: 0 5rem;
    justify-content: center;
}

.hero__text > div {
    padding: 1rem 0;
}

.hero__text--format {
    color: #335576;
}

.hero__image {
    width: 65%;
    object-fit: contain;
}

.hero__container > div:last-child {
    display: flex;
    justify-content: center;
    border-radius: 2%;
}

.hero__text > div:last-child {
    width: 12rem;
    height: 1rem;
    background-color: #Db7A4E;
    text-align: center;
    margin-top: 1.5rem;
    border-radius: 25px;
}

.hero__text > div > a {
    color: #FFFFFF;
}

.recommendations > h3 {
    color: #335576;
    padding: 3rem 5rem;
    padding-bottom: 2rem;
}

.recommendations__container {
    display: flex;
    justify-content: space-around;
    margin: 0 11rem;
    padding-bottom: 5rem;
}

article {
    width: 17rem;
    height: 25rem;
    position: relative;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, .2);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, .2);
    margin: 1rem;
}

article > p {
    color: #FFFFFF;
    font-weight: bold;
    position: absolute;
    top: 93%;
    right: 8%;
}

.recommendations-card__hawaii {
    background-image: url(../assets/images/hawaii.jpg);
    background-size: cover;
}

.recommendations-card__iceland {
    background-image: url(../assets/images/iceland.jpg);
    background-size: cover;
}

.recommendations-card__greece {
    background-image: url(../assets/images/greece.jpg);
    background-size: cover;
}

.recommendations-card--hover:hover {
    border: solid 1px #FFFFFF;
    opacity: 0.7;
    transition: all .3s ease-in;
}

@media only screen and (max-width: 768px) {
    .recommendations__container {
        flex-direction: column;
        align-items: center;
    }
  }